mixin cart-list(items)
    ul(
        class="cart-list"
        class=(cartFull ? "cart-list--full" : "")
        class=(cartOrder ? "cart-list--full--order" : "")
        class=(cartOrderFinish ? "cart-list--small" : "")
        )
        if cartFull
            li(class="cart-list__item cart-list__item--caption")
                div(class="cart-list__caption")
                    | Товар
                div(class="cart-list__caption cart-list__price")
                    | Цена
                div(class="cart-list__caption cart-list__counter")
                    | Количество
                div(class="cart-list__caption cart-list__price")
                    | Всего
        each item, index in items
            -
                const {
                    name,
                    name_short,
                    photo,
                    size,
                    color,
                    color_hex,
                    multicolor,
                    price,
                    price_old,
                    price_discount,
                    count_name,
                    labels,
                } = item;
            li(class="cart-list__item")
                if !cartOrder && !cartOrderFinish
                    div(class="cart-list__delete js-basket-delete" data-product-id=index)
                        +icon-sym('clear')
                a(href="catalog-product.html" class="cart-list__img" data-src-bg=photo)
                    if labels
                        div(class="catalog-labels catalog-labels--small")
                            each itemLabel in labels
                                div(class="catalog-labels__item catalog-labels__item--" + itemLabel.color)
                                    !=itemLabel.name
                div(class="cart-list__text")
                    a(href="catalog-product.html" class="cart-list__name")
                        if cartFull
                            != name_short
                        else
                            != name
                    div(class="text-gray")
                        if cartFull
                            != name
                        else
                            | Размер:&nbsp;
                            !=size
                            br
                            | Цвет:&nbsp;
                            !=color
                    if cartFull
                        div(class="cart-list__params")
                            div(class="cart-list__params__item")
                                strong Цвет:&nbsp;
                                !=color
                                span(
                                    class="color-bullet"
                                    data-color-white=(color_hex === '#FFFFFF' ? "true" : "false")
                                    style=(multicolor ? ("--catalog-color-1:" + color_hex + "; --catalog-color-2: #374772; --catalog-color-3: #356A41; --catalog-color-4: #FF4545;") : ("--catalog-color-1:" + color_hex))
                                    data-color-count=(multicolor ? "4" : (color_hex ? "1" : "0"))
                                    )
                            div(class="cart-list__params__item")
                                strong Размер:&nbsp;
                                !=size

                div(class="cart-list__price")
                    != price
                    if price_old
                        div(class="cart-list__price__discount")
                            s
                                !=price_old
                            if cartFull
                                span -15%
                    if cartFull
                        small
                            != count_name


                if !cartOrder && !cartOrderFinish
                    div(class="cart-list__counter" data-product-id=index)
                        div(class="catalog-counter catalog-counter--cart")
                            div(class="catalog-counter__btn js-basket-minus" data-product-id=index) &minus;
                            div(class="catalog-counter__text" data-count="1" data-step="1" data-max="5" data-product-id=index)
                            div(class="catalog-counter__btn js-basket-plus" data-product-id=index) &plus;
                else
                    div(
                        class="cart-list__counter"
                        class=(cartOrderFinish ? "cart-list__counter--text-small" : "cart-list__counter--text")
                        )
                        | 1 шт.


                div(class="cart-list__price")
                    != price
