mixin cart-list(items)
    ul(
        class="cart-list"
        class=(cartFull ? "cart-list--full" : "")
        class=(cartOrder ? "cart-list--full--order" : "")
        class=(cartOrderFinish ? "cart-list--small" : "")
        )
        if cartFull
            li(class="cart-list__item cart-list__item--caption")
                div(class="cart-list__caption")
                    | Товар
                div(class="cart-list__caption cart-list__price")
                    | Цена
                div(class="cart-list__caption cart-list__counter")
                    | Количество
                div(class="cart-list__caption cart-list__price")
                    | Всего
        each item, index in items
            -
                const {
                    name,
                    name_short,
                    photo,
                    size,
                    color,
                    color_hex,
                    price,
                    price_old,
                    price_discount,
                    count_name,
                } = item;
            li(class="cart-list__item")
                if !cartOrder && !cartOrderFinish
                    div(class="cart-list__delete js-basket-delete" data-product-id=index)
                        +icon-sym('clear')
                a(href="catalog-product.html" class="cart-list__img" data-src-bg=photo)
                div(class="cart-list__text")
                    a(href="catalog-product.html" class="cart-list__name")
                        if cartFull
                            != name_short
                        else
                            != name
                    div(class="text-gray")
                        if cartFull
                            != name
                        else
                            | Размер:&nbsp;
                            !=size
                            br
                            | Цвет:&nbsp;
                            !=color
                    if cartFull
                        div(class="cart-list__params")
                            div(class="cart-list__params__item")
                                strong Цвет:&nbsp;
                                !=color
                                span(class=(color_hex == '#FFFFFF' ? "color-bullet color-bullet--white" : "color-bullet") style="background:"+color_hex)
                            div(class="cart-list__params__item")
                                strong Размер:&nbsp;
                                !=size

                div(class="cart-list__price")
                    != price
                    if price_old
                        div(class="cart-list__price__discount")
                            s
                                !=price_old
                            if cartFull
                                span -15%
                    if cartFull
                        small
                            != count_name


                if !cartOrder && !cartOrderFinish
                    div(class="cart-list__counter" data-product-id=index)
                        div(class="catalog-counter catalog-counter--cart")
                            div(class="catalog-counter__btn js-basket-minus" data-product-id=index) &minus;
                            div(class="catalog-counter__text" data-count="1" data-step="1" data-max="5" data-product-id=index)
                            div(class="catalog-counter__btn js-basket-plus" data-product-id=index) &plus;
                else
                    div(
                        class="cart-list__counter"
                        class=(cartOrderFinish ? "cart-list__counter--text-small" : "cart-list__counter--text")
                        )
                        | 1 шт.


                div(class="cart-list__price")
                    != price
