mixin catalog-list(items)
    div(class=(!catalogSliderDisable ? "swiper-container mb-xl" : ""))
        div(class=(!catalogSliderDisable ? (catalogSmall ? "swiper catalog-list catalog-list--small js-slider-catalog" : "swiper catalog-list js-slider-catalog") : "") )
            div(class=(!catalogSliderDisable ? "swiper-wrapper" : "catalog-list fade-in") )
                each item, indexProduct in items
                    -
                        const {
                            name,
                            price,
                            price_old,
                            sizes,
                            labels,
                            colors,
                        } = item;
                    if indexProduct < catalogCount || !catalogCount
                        div(class="catalog-list__item swiper-slide" data-catalog-size=(sizes.length>0 ? "true" : "false"))
                            div(class="catalog-list__wrapper")
                                if labels.length>0
                                    div(class="catalog-labels")
                                        each item, index in labels
                                            div(class="catalog-labels__item catalog-labels__item--"+item.color)
                                                !=item.name

                                each item, index in colors
                                    -
                                        const {
                                            hex,
                                            photos,
                                        } = item;
                                    a(href="catalog-product.html" class=(index === 0 ? "catalog-list__gallery js-catalog-list-gallery" : "catalog-list__gallery js-catalog-list-gallery hide") data-src-bg=photos[0] data-index=index data-photos-length=photos.length)
                                        each item, index in photos
                                            span(class=(index === 0 ? "catalog-list__gallery__item active" : "catalog-list__gallery__item") data-img=item)



                            div(class="catalog-list__modal" aria-hidden="true")
                                div(class="catalog-list__modal__bg js-modal-catalog-hide")
                                div(class="catalog-list__modal__wrapper")
                                    div(class="modal__close catalog-list__modal__close js-modal-catalog-hide")

                                    if sizes.length>0
                                        div(class="catalog-list__modal__caption") Выберите размер
                                        div(class="swiper-container catalog-sizes")
                                            div(class="swiper js-catalog-size-slider")
                                                div(class="swiper-wrapper")
                                                    each item, index in sizes
                                                        div(class=(index === 0 ? "swiper-slide catalog-sizes__item active" : "swiper-slide catalog-sizes__item") )
                                                            != item
                                            div(class="swiper-button-smaller swiper-button-prev")
                                                +icon-sym('arr-slider')
                                            div(class="swiper-button-smaller swiper-button-next")
                                                +icon-sym('arr-slider')

                                    if colors.length > 1
                                        div(class="catalog-list__modal__caption") Выберите цвет
                                        div(class="swiper-container catalog-colors")
                                            div(class="swiper-button-vertical-smaller swiper-button-prev")
                                                +icon-sym('arr-slider')
                                            div(class="swiper js-catalog-colors-slider")
                                                div(class="swiper-wrapper")
                                                    each item, index in colors
                                                        div(class=(index === 0 ? "swiper-slide catalog-colors__item active js-catalog-color-change" : "swiper-slide catalog-colors__item js-catalog-color-change") style="--catalog-color:" + item.hex data-color-white=(item.hex === '#FFFFFF' ? "true" : "false") data-index=index)
                                            div(class="swiper-button-vertical-smaller swiper-button-next")
                                                +icon-sym('arr-slider')

                                    div(class="catalog-list__basket" data-product-id=indexProduct)
                                        div(class="btn btn--cart js-basket-plus" data-product-id=indexProduct)
                                            +icon-sym('cart')
                                            +icon-sym('cart-check')
                                            span(class="btn__text")
                                                | В корзину
                                        div(class="catalog-counter")
                                            div(class="catalog-counter__btn js-basket-minus" data-product-id=indexProduct) &minus;
                                            div(class="catalog-counter__text" data-count="0" data-step="1" data-max="5" data-product-id=indexProduct)
                                            div(class="catalog-counter__btn js-basket-plus" data-product-id=indexProduct) &plus;

                            a(href="catalog-product.html" class="catalog-list__name")
                                !=name

                            div(class="catalog-list__bottom")
                                div(class="catalog-list__price")
                                    !=price
                                    if price_old
                                        s
                                            !=price_old
                                div(class="catalog-list__basket catalog-list__basket--modal js-modal-catalog-show js-basket-plus" data-product-id=indexProduct)
                                    div(class="btn btn--cart")
                                        +icon-sym('cart')
                                        +icon-sym('cart-check')

        if !catalogSliderDisable
            div(class="swiper-button-catalog swiper-button-prev")
                +icon-sym('arr-slider')
            div(class="swiper-button-catalog swiper-button-next")
                +icon-sym('arr-slider')
