include ../basic/_modal

mixin videos-list-full(items)
    div(
        class="videos-list videos-list--full"
        class=(isArticles ? 'videos-list--articles-top' : '')
        )
        each item, index in items
            -
                const {
                    name,
                    img,
                    img_full,
                    id,
                } = item;
            if !isArticles
                div(class="videos-list__item js-video-modal" data-youtube-id=id data-micromodal="modal-video")
                    span(class="videos-list__preview" data-src-bg=img)
                        +icon-sym('play')
                    != name
            else
                a(href="articles-detail.html" class="videos-list__item")
                    span(class="videos-list__preview" data-src-bg=img)
                    != name

    if !isArticles
        +modal({
            id: 'video',
            modifier: 'gallery'
        })
            +slot('body')
                div(class="swiper-wrapper product-gallery")
                    div(class="swiper")
                        div(class="swiper-wrapper")
                            div(class="swiper-slide product-gallery__item")
                                div(class="product-gallery__item__bg js-video-link")
